.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.card{
    background-color: rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(30px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 40%;
    color: white;
    text-transform: capitalize;
    overflow: hidden;
}
.card h1 {
    font-weight: 900;
    margin-top: 20px;
    padding: 20px;
}

.card button {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: rgba(243, 119, 214, 0.496);
    color: rgb(165, 2, 143);
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    

}
